{% extends "layout.html" %}
{% block content %}
    <div class="row">
    <div class="col-6 mt-5">
        <div class="card" style="margin-left:120px;">
            <div class="card-body" >
                <h4 class="header-title">Novo Jogador</h4>

                <form class="form-horizontal" method="POST" action="/new_jogador?idjogador={{ id }}&idclube={{ idclube }}" >
                    {% csrf_token %}
                    <div class="form-group row" >
                        <div class="col-sm-6 ">
                            <h6>Nome</h6>
                            <input type="text" class="form-control" name="nome" id="nome" required>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-6 ">
                            <h6>Número</h6>
                            <input type="number" class="form-control" name="numero" id="numero" required>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-6 ">
                            <h6>Nacionalidade</h6>
                            <input type="text" class="form-control" name="nacionalidade" id="nacionalidade" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <h6>Posição</h6>
                            <input type="text" class="form-control" name="posicao" id="posicao" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <h6>Idade</h6>
                            <input type="number" class="form-control" name="idade" id="idade" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <h6>Clubes Anteriores</h6>
                            <input type="text" class="form-control"  name="clubes" id="clubes" required>
                        </div>
                    </div>
                     <div class="col-lg-12 mt-5" align="left">
                         <button type="submit" class="btn btn-rounded"> <h6>Submeter</h6> </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
        {% load staticfiles %}
        <div class="col-lg-6 mt-5">
            <div class="card-body" align="center">
                <image src="{% static 'img/primeiraLiga/jogadores/ok.png' %}" width="300px"></image>
            </div>
        </div>
    </div>

  {% endblock %}
